@page "/"

<div class="bar">
    <div class="@Info_GetStyleClass()">
        <div class="button"
             style="--icon:url(edit.svg)"
             @onclick="Edit_OnClick"></div>
        <div class="button"
             style="--icon:url(close.svg)"
             @onclick="ToggleInfo"></div>
        <div class="qr" style="background-image: url(@Selection.ActiveDataItem?.qr); "></div>
    </div>
    <div class="content">
        <TimerComponent @ref="timerComponent" Value="@Selection.ActiveDataItemTimer" />
        <OtpComponent @ref="otpComponent" Values="@Selection.ActiveDataItemOtps" />
        @if (Selection.ActiveDataItem is not null && !visible)
        {
            <div class="button"
                 style="--icon:url(info.svg); position: absolute; right: 3.25em; "
                 @onclick="ToggleInfo"></div>
        }
        <div class="button"
             style="--icon:url(tools.svg)"
             @onclick="Tools_OnClick"></div>
    </div>
</div>
<div class="items">
    @foreach (var item in EnumerateItems())
    {
        <div class="@Item_GetStyleClass(item)"
             style="@Item_GetAdditionalStyle(item)"
             @onclick="() => Item_OnClick(item)">
            <div class="service" data-type="@item.service"></div>
            <div class="name">@item.name</div>
        </div>
    }
</div>

@implements IDisposable

@inject NavigationManager nav

@code {

    TimerComponent timerComponent;
    OtpComponent otpComponent;

    bool visible;

    Task intervalTask;
    bool disposed;
    bool forceRender;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (!firstRender)
            return;

        Selection.data = await Data.LoadAsync();
        if (Selection.ActiveDataItem is null)
            Selection.activeSecret = EnumerateItems().FirstOrDefault()?.secret;

        intervalTask = Task.Run(async () =>
        {
            while (!disposed)
            {
                Selection.ComputeActiveDataItem();
                await InvokeAsync(StateHasChanged);
                await timerComponent.RenderAsync();
                for (var i = 0; i < 20 && !disposed && !forceRender; i++)
                    await Task.Delay(50);
                forceRender = false;
            }

            Selection.ClearActiveDataItem();
        });
    }

    public void Dispose()
    {
        disposed = true;
    }

    IEnumerable<Data.Item> EnumerateItems()
    {
        if (Selection.data is null)
            yield break;

        var items = Selection.data.items
            .Where(x => !x.hidden)
            .OrderBy(x => x.service)
            .ThenBy(x => x.name);

        foreach (var item in items)
            yield return item;
    }

    string Info_GetStyleClass()
    {
        return "info" + (visible ? " visible" : "");
    }

    void ToggleInfo()
    {
        visible = !visible;
    }

    string Item_GetStyleClass(Data.Item item)
    {
        return $"item" + (item == Selection.ActiveDataItem ? " active" : "");
    }

    string Item_GetAdditionalStyle(Data.Item item)
    {
        var color = Selection.data.colors.FirstOrDefault(x => x.name == item.service);
        if (color is null)
            return string.Empty;

        return $"background-color: {color.value}; ";
    }

    void Item_OnClick(Data.Item item)
    {
        Selection.activeSecret = item.secret;
        forceRender = true;
    }

    void Edit_OnClick()
    {
        nav.NavigateTo("/edit");
    }

    void Tools_OnClick()
    {
        nav.NavigateTo("/tools");
    }

}
