@page "/"

<div class="bar">
    <div class="@Info_GetStyleClass()">
        <Component_Button Icon="edit" OnClick="Edit_OnClick" Enabled="@(state == State.Ready)"
                          Style="position: absolute; align-self: flex-end; margin: 2.5em -.5em 0 0; " />
        <Component_Button Icon="close" OnClick="ToggleInfo" Enabled="@(state == State.Ready)"
                          Style="position: absolute; align-self: flex-end; margin: -.5em -.5em 0 0; " />
        <div class="qr" style="background-image: url(@Selection.ActiveDataItem?.qr); "></div>
    </div>
    <div class="content">
        <Component_Timer @ref="timerComponent" Context="Selection.ActiveDataItemContext" />
        <Component_Otp Context="Selection.ActiveDataItemContext" />
        @if (Selection.ActiveDataItem is not null && !infoVisible)
        {
            <Component_Button Icon="info" OnClick="ToggleInfo"
                              Style="position: absolute; right: 3.25em; " />
        }
        <Component_Button Icon="tools" OnClick="Tools_OnClick" Enabled="@(state == State.Ready)" />
    </div>
</div>

@if (Selection.GroupServices && activeService is null)
{
    <div class="services">
        @foreach (var service in EnumerateServices())
        {
            <div class="@Service_GetStyleClass(service)"
                 style="@Service_GetAdditionalStyle(service)"
                 @onclick="() => Service_OnClick(service)">
                @(Utils.IsEmpty(service) ? "(Unspecified)" : service)
            </div>
        }
    </div>
}
else
{
    <div class="items">
        @if (Selection.GroupServices)
        {
            <Component_Button OnClick="() => activeService = null" Icon="back" />
        }
        @foreach (var item in EnumerateItems())
        {
            <div class="@Item_GetStyleClass(item)"
                 style="@Item_GetAdditionalStyle(item.service)"
                 @onclick="() => Item_OnClick(item)">
                <div class="service" data-type="@item.service"></div>
                <div class="name">@item.name</div>
            </div>
        }
    </div>
}

@implements IAsyncDisposable

@inject NavigationManager nav

@code {

    Component_Timer timerComponent;

    bool infoVisible;

    Task intervalTask;
    bool forceRender;

    enum State { Loading, Ready, Disposing, Disposed }
    State state = State.Loading;

    string activeService;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        App.InstanceMainPage.backButton += OnBackButton;
    }

    void OnBackButton()
    {
        activeService = null;
        forceRender = true;
    }

    public async ValueTask DisposeAsync()
    {
        App.InstanceMainPage.backButton -= OnBackButton;

        await Utils.WaitAsync(() => state == State.Loading);
        state = State.Disposing;
        await Utils.WaitAsync(() => state == State.Disposing);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            Selection.data = await Data.LoadAsync();

            if (!Selection.GroupServices)
            {
                if (Selection.ActiveDataItem is null)
                    Selection.activeSecret = EnumerateItems().FirstOrDefault()?.secret;
            }
        }

        if (Selection.GroupServices && activeService is null)
        {
            Selection.activeSecret = null;
            forceRender = true;
        }

        if (!firstRender)
            return;

        intervalTask = Task.Run(async () =>
        {
            while ((int) state < 2)
            {
                Selection.ComputeActiveDataItem();

                await InvokeAsync(StateHasChanged);
                await timerComponent.RenderAsync();

                if (state == State.Loading)
                {
                    state = State.Ready;
                    await InvokeAsync(StateHasChanged);
                }

                await Utils.WaitAsync(
                    condition: () => (int) state < 2 && !forceRender,
                    timeout: TimeSpan.FromSeconds(1)
                );

                forceRender = false;
            }

            Selection.ClearActiveDataItem();
            state = State.Disposed;
        });
    }

    IEnumerable<string> EnumerateServices()
    {
        if (Selection.data is null)
            return Enumerable.Empty<string>();

        return Selection.data.items
            .Where(x => !x.hidden)
            .Select(x => x.service)
            .Distinct()
            .OrderBy(x => x);
    }

    IEnumerable<Data.Item> EnumerateItems()
    {
        if (Selection.data is null)
            yield break;

        var items = Selection.data.items
            .Where(x => !x.hidden)
            .OrderBy(x => x.service)
            .ThenBy(x => x.name);

        foreach (var item in items)
            if (activeService is null || item.service == activeService)
                yield return item;
    }

    string Info_GetStyleClass()
    {
        return "info" + (infoVisible ? " visible" : "");
    }

    void ToggleInfo()
    {
        infoVisible = !infoVisible;
    }

    string Item_GetStyleClass(Data.Item item)
    {
        return "item" + (item == Selection.ActiveDataItem ? " active" : "");
    }

    string Item_GetAdditionalStyle(string service)
    {
        var color = Selection.data.colors.FirstOrDefault(x => x.name == service);
        if (color is null)
            return string.Empty;

        if (Selection.data.useGradients)
        {
            var gradient = string.Join(", ", [
            "transparent 0%",
                $"{color.value} 20%",
                "transparent 100%",
            ]);
            return $"background-image: linear-gradient(90deg, {gradient}); ";
        }

        return $"background-color: {color.value}; ";
    }

    void Item_OnClick(Data.Item item)
    {
        Selection.activeSecret = item.secret;
        forceRender = true;
    }

    string Service_GetStyleClass(string service)
    {
        return "service" + (service == activeService ? " active" : "");
    }

    string Service_GetAdditionalStyle(string service)
    {
        var color = Selection.data.colors.FirstOrDefault(x => x.name == service);

        return color is null
        ? string.Empty
        : $"background-color: {color.value}; ";
    }

    void Service_OnClick(string service)
    {
        activeService = service;

        Selection.activeSecret = EnumerateItems().FirstOrDefault()?.secret;

        forceRender = true;
    }

    void Edit_OnClick()
    {
        nav.NavigateTo("/edit");
    }

    void Tools_OnClick()
    {
        nav.NavigateTo("/tools");
    }

}
